{% extends 'base.html.twig' %}

{% block title %}Hello MoneylineController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {{ fl }}, {{ dl }} <br /><br />

    Favorite Imppliod Odds: {{ fImp }} <br />
    Dog Implied Odds: {{ dImp }} <br />
    Total: {{ fImp + dImp }}<br /><br />
    Favorite Odds: {{ fOdds }}<br />
    Dog Odds: {{ dOdds }}<br />
    Total: {{ fOdds + dOdds }}<br /><br />

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/benr242/PhpstormProjects/Moneyline/src/Controller/MoneylineController.php'|file_link(0) }}">src/Controller/MoneylineController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/benr242/PhpstormProjects/Moneyline/templates/moneyline/index.html.twig'|file_link(0) }}">templates/moneyline/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
